@import './iconfont.css';

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}

.save-btn {
  border-radius: 40rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40rpx;
  z-index: 1000; // 确保保存按钮在最顶层
  background: #3b82f6;
  padding: 20rpx;
  text-align: center;
  box-shadow: 0 4px 16px rgba(59, 130, 246, 0.3);
  transition: all 0.3s ease;
  color: white;

  &:active {
    box-shadow: 0 2px 8px rgba(59, 130, 246, 0.3);
    background: #3b83f6bc;
  }
}
